<footer>
  <div>&copy; &copy; Copyright, 2022. RTG Employee Directory</div>
  <div>Conestoga College</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: "#employeeDesc",
  });
</script>
<!-- Photo by Pixabay: https://www.pexels.com/photo/woman-wearing-black-spaghetti-strap-top-415829/ -->
<!-- Photo by Andrea Piacquadio: https://www.pexels.com/photo/man-in-red-button-up-shirt-smiling-3777946/ -->
