<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta.ejs') %>
    <title>RTG Employee Directory | Employee Added Successfullu</title>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>

    <!-- Main -->
    <main id="thankyou-page">
      <section class="container">
        <h1 class="text-center">Thank You</h1>
        <h3 class="text-center">
          Your request has successfully been submitted
        </h3>
      </section>
    </main>

    <!-- Footer -->
    <%- include('partials/footer.ejs') %>
  </body>
</html>
